@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@700&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

p,
h2 {
  margin: 0;
}

.header {
  display: flex;
  text-align: center;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  background-color: #efe2ba;
}

.main {
  display: flex;
  flex: 0 78vh;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  font-size: 18px;
}

.footer {
  display: flex;
  flex: 0 7vh;
  justify-content: space-between;
  align-items: center;
  background-color: #efe2ba;
}

.footer-content {
  padding: 0px 50px;
  font-size: 18px;
}

.score-display {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.player-title {
  color: green;
  margin: 0;
}

.computer-title {
  color: red;
  margin: 0;
}

.score {
  text-align: center;
  margin: 0%;
  font-size: 50px;
}

img {
  width: 100px;
}

#result {
  padding: 1rem;
  font-size: 25px;
}

.round {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

#restart {
  width: 500px;
  padding: 5px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(73, 31, 31);
  border-radius: 50px;
}

#restart:hover {
  background-color: rgb(137, 104, 104);
}

#gameResult {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.selection-design {
  margin: 20px;
  border: 5px solid rgb(73, 31, 31);
  margin: 10px;
  animation: bn53bounce 4s infinite;
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.selection-design:hover {
  border: 5px solid rgb(137, 104, 104);

  transform: scale(1.2);
}

.selection {
  margin-top: 5px;
}

BUTTON:disabled {
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    red 0.75rem,
    GREEN 1.5rem
  );
  animation: load 1s infinite linear;
}
